@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
  background-color: #111;
}
html {
  scroll-behavior: smooth;
}
@layer components {
  .btn {
    @apply bg-orange-400 transition-all duration-300  text-white px-4 py-2;
  }
  .btn:hover {
    @apply bg-orange-600;
  }
  /* ... */
}
.stroke {
  font-size: 97px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e3e3e30e;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
  font-family: Impact, Charcoal, sans-serif;
}
@media (max-width: 600px) {
  .stroke {
    font-size: 70px;
  }
}
swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper {
  width: 100%;
  height: 200% !important;
  position: unset !important;
}
.swiper-slide {
  height: auto !important;
}
.swipercont {
  position: relative;
}
.swiper-button-prev,
.swiper-button-next {
  user-select: none;
  top: -34px !important;
  color: black !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  margin: 0px !important;
}
.swiper-button-prev {
  left: unset !important;
  right: 40px !important;
}
.c1:nth-child(even) {
  background-color: red;
}
